// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

@import '../themes';

$nb-themes: nb-register-theme(
    (
        text-paragraph-font-family: 'Montserrat, san-serif',
        font-family-primary: 'Montserrat, san-serif',
        text-label-font-family: 'Montserrat, san-serif',
        text-heading-1-font-family: 'Montserrat, san-serif',
        text-heading-2-font-family: 'Montserrat, san-serif',
        text-heading-3-font-family: 'Montserrat, san-serif',

        bs-primary: #7a1129,
        bs-primary-background-light: #faf4ef,
        bs-purple: #7a1129,
        bs-primary-rgb: #7a1129,
        text-primary-color: #7a1129,
        color-primary-default: #7a1129,
        color-primary-100: #fff5f7,
        color-primary-200: #ffd9e3,
        color-primary-300: #ff99b3,
        color-primary-400: #e6597a,
        color-primary-500: #bd1c43,
        color-primary-600: #9a1636,
        color-primary-700: #7a1129,
        color-primary-800: #5c0d1f,
        color-primary-900: #7a1129,
        color-primary-focus: #d42350,
        color-primary-hover: #d42350,
        color-primary-active: #d42350,

        input-basic-focus-border-color: #7a1129,
        input-basic-background-color: #fff,
        input-primary-border-color: #7a1129,
        form-field-addon-basic-highlight-text-color: #7a1129,

        layout-background-color: #faf4ef,
        layout-padding-top: 2.25rem,
        layout-scrollbar-color: #146835,
        layout-scrollbar-width: 0.5rem,

        spinner-primary-circle-filled-color: #7a1129,
        spinner-info-circle-filled-color: #146835,

        icon-primary-color: #7a1129,

        tabset-tab-active-text-color: #7a1129,
        tabset-tab-active-underline-color: #7a1129,
        tabset-tab-hover-text-color: #7a1129,
        tabset-tab-hover-underline-color: #7a1129,

        menu-item-icon-margin: 0 0.5rem 0 0,

        button-filled-text-transform: capitalize,
        button-outline-text-transform: capitalize,
        button-ghost-text-transform: capitalize,

        button-filled-success-background-color: #146835,
        button-filled-success-border-color: #146835,
        button-filled-success-hover-background-color: #000000,
        button-filled-success-hover-border-color: #000000,
        button-filled-success-focus-border-color: #146835,
        button-filled-success-focus-background-color: #146835,
        button-filled-success-active-background-color: #0f5228,
        button-filled-success-active-border-color: #0f5228,

        button-ghost-success-text-color: #146835,
        button-ghost-success-focus-text-color: #146835,
        button-ghost-success-hover-text-color: #1a7e42,
        button-ghost-success-active-text-color: #0f5228,

        button-filled-primary-background-color: #7a1129,
        button-filled-primary-border-color: #7a1129,
        button-filled-primary-hover-background-color: #000000,
        button-filled-primary-hover-border-color: #000000,
        button-filled-primary-focus-border-color: #000000,
        button-filled-primary-focus-background-color: #000000,
        button-filled-basic-hover-background-color: #dfe2e9,
        button-filled-basic-hover-text-color: #ffffff,
        button-filled-primary-active-background-color: #7a1129,
        button-filled-primary-active-border-color: #7a1129,

        button-outline-primary-background-color: #ffffff,
        button-outline-primary-border-color: #7a1129,
        button-outline-primary-text-color: #7a1129,
        button-outline-primary-hover-background-color: #fff5f7,
        button-outline-primary-hover-border-color: #d42350,
        button-outline-primary-hover-text-color: #d42350,

        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-border-radius: 10px,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        card-header-primary-background-color: #7a1129,

        checkbox-success-border-color: #146835,
        checkbox-success-checked-background-color: #146835,
        checkbox-success-checked-border-color: #146835,
        checkbox-success-indeterminate-background-color: #146835,
        checkbox-success-indeterminate-border-color: #146835,
        checkbox-success-focus-border-color: #146835,
        checkbox-success-hover-border-color: #1a7e42,
        checkbox-success-active-border-color: #0f5228,

        checkbox-success-focus-checked-background-color: #146835,
        checkbox-success-active-checked-background-color: #0f5228,
        checkbox-success-active-checked-border-color: #0f5228,

        checkbox-primary-border-color: #7a1129,
        checkbox-primary-checked-background-color: #7a1129,
        checkbox-primary-checked-border-color: #7a1129,
        checkbox-primary-indeterminate-background-color: #7a1129,
        checkbox-primary-indeterminate-border-color: #7a1129,
        checkbox-primary-background-color: rgba(189, 28, 67, 0.08),
        checkbox-primary-focus-border-color: #7a1129,
        checkbox-primary-hover-border-color: #7a1129,
        checkbox-primary-active-border-color: #7a1129,
        checkbox-primary-focus-checked-background-color: #7a1129,
        checkbox-primary-active-checked-background-color: #7a1129,
        checkbox-primary-active-checked-border-color: #7a1129,

        radio-primary-border-color: #146835,
        radio-primary-background-color: #faf4ef,
        radio-primary-checked-border-color: #146835,
        radio-primary-focus-border-color: #146835,
        radio-primary-hover-background-color: #faf4ef,
        radio-primary-hover-border-color: #1a7e42,
        radio-primary-active-border-color: #0f5228,

        alert-success-background-color: #146835,
        alert-accent-success-color: #146835,
        alert-outline-success-color: #146835,
        toastr-success-background-color: #146835,
        toastr-success-border-color: #146835,
        toastr-icon-success-color: #146835,
        toastr-destroyable-success-hover-background-color: #1a7e42,
        toastr-destroyable-success-hover-border-color: #1a7e42,

        select-min-width: 6rem,

        tag-small-padding: 0.0625rem 0.6375rem,
        tag-outline-success-border-color: rgba(20, 104, 53, 0.08),
        tag-outline-danger-border-color: rgba(255, 61, 113, 0.08),
        tag-outline-primary-border-color: rgba(189, 28, 67, 0.08),
        tag-outline-primary-active-border-color: #7a1129,
        tag-outline-primary-hover-border-color: #7a1129,
        tag-outline-primary-hover-text-color: #7a1129,
        tag-outline-primary-hover-background-color: rgba(189, 28, 67, 0.16),
        tag-outline-info-border-color: rgba(0, 149, 255, 0.08),
        tag-outline-warning-border-color: rgba(255, 170, 0, 0.24),
        tag-outline-warning-active-border-color: rgba(255, 170, 0, 0.24),
        slide-out-background: #faf4ef,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

        calendar-cell-today-background-color: #ffd9e31b,
        calendar-cell-today-border-color: #7a1129,
        calendar-cell-today-hover-background-color: #7a1129,
        calendar-cell-today-hover-border-color: #7a1129,
        calendar-cell-selected-background-color: #7a1129,
        calendar-cell-selected-border-color: #7a1129,
        calendar-cell-selected-hover-background-color: #7a1129,
        calendar-cell-selected-hover-border-color: #7a1129,
        calendar-cell-selected-active-background-color: #7a1129,
        calendar-cell-selected-active-border-color: #7a1129,

        footer-background-color: #7a1129,
        footer-height: 3rem,
    ),
    empower,
    default
);
