<div>
    <nb-card
        class="text-start px-2 mx-2 page-card"
        *ngIf="checkStatus(); else followUpComponent">
        <nb-card-body class="card-body">
            <ngx-screening-report
                [showBackButton]="true"
                [encounterID]="encounterID"
                [patientID]="patientID"
                [visitID]="encounterData?.visit_id"
                [patientName]="encounterData?.patient_name"
                [segments]="segments"
                [cancerType]="cancerType"></ngx-screening-report>
        </nb-card-body>
    </nb-card>

    <ng-template #followUpComponent>
        <nb-card class="text-start px-2 mx-2 page-card">
            <nb-card-body class="card-body">
                <div class="row" *ngIf="!pageText[cancerType]">
                    <div
                        class="col-sm-1 mt-3 mb-3 justify-content-center d-flex m-sm-3 m-0">
                        <ngx-skeleton-loader
                            count="1"
                            [theme]="{ height: '97px', width: '97px' }"
                            appearance="circle"></ngx-skeleton-loader>
                    </div>
                    <div
                        class="col-12 col-xs-12 col-sm-10 pt-3 pb-3 align-self-center text-center text-sm-start">
                        <div class="patient-data-loader">
                            <ngx-skeleton-loader
                                count="3"
                                appearance="line"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div
                        class="col-12 pt-3 pb-3 align-self-center text-center text-sm-start">
                        <div class="patient-data-loader">
                            <ngx-skeleton-loader
                                count="3"
                                appearance="line"></ngx-skeleton-loader>
                        </div>
                    </div>
                </div>
                <div *ngIf="pageText[cancerType]">
                    <div
                        class="mb-2 row d-sm-flex flex-sm-row justify-content-between">
                        <div class="col-sm">
                            <h3 class="sub-title">Step 4: Follow Up</h3>
                        </div>
                        <div class="col-sm text-end">
                            <span
                                class="badge"
                                [ngStyle]="{
                                    background:
                                        pageText[cancerType][screeningStatus]
                                            .badgeBackgroundColor,
                                    color: pageText[cancerType][screeningStatus]
                                        .badgeColor
                                }">
                                {{
                                    followUpData?.value
                                        ? convertString(followUpData?.value)
                                        : ''
                                }}
                            </span>
                        </div>
                    </div>
                    <ngx-negative-result
                        (previousStepRequested)="requestPreviousStep()"
                        [cancerType]="cancerType"
                        [encounterID]="encounterID"
                        [patientID]="patientID"
                        [testResult]="
                            followUpData?.value
                                ? convertString(followUpData?.value)
                                : ''
                        "
                        *ngIf="
                            ['negative', 'normal'].includes(screeningStatus)
                        "></ngx-negative-result>
                    <ngx-suspicious-result
                        (previousStepRequested)="requestPreviousStep()"
                        [encounterID]="encounterID"
                        [patientID]="patientID"
                        [cancerType]="cancerType"
                        *ngIf="
                            screeningStatus === 'suspicious'
                        "></ngx-suspicious-result>
                </div>
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>
