@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

.billing-timeline {
    border-left: 0.25em dashed var(--tabset-tab-active-text-color);
    line-height: 1.4em;
    padding-left: 1rem;
    list-style: none;
    text-align: left;
    margin-left: 86px;
    border-radius: 0;
    min-width: 22em;
}

.event {
    min-width: 30em;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}

.billing-timeline .event::before,
.billing-timeline .event::after {
    position: absolute;
    display: block;
    top: 0.5em;
}

.billing-timeline .event::before {
    left: -170px;
    color: var(--tabset-tab-active-text-color);
    content: attr(data-time);
    text-align: right;
    font-weight: 600;
    font-size: 1rem;
    min-width: 141px;
    top: -4px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 0.7rem;
        left: -166px;
    }
}

.service-point-btn {
    top: -36px;
    position: relative;
}

.billing-timeline .service-request-info::before {
    left: -70px;
    color: var(--tabset-tab-active-text-color);
    content: attr(data-date);
    text-align: right;
    font-weight: 600;
    font-size: 0.5rem;
    min-width: 6em;
    position: absolute;
    top: 14px;
    @media (max-width: map-get($grid-breakpoints, sm)) {
        font-size: 0.6rem;
        left: -100px;
    }
}

.billing-timeline .event::after {
    box-shadow: 0 0 0 0.1em var(--tabset-tab-active-text-color);
    left: -22px;
    background: var(--tabset-tab-active-text-color);
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    content: '';
    top: 1px;
}

.service-request-info {
    padding: 0 0 10px;
    text-align: left;
    position: relative;
    @media (max-width: map-get($grid-breakpoints, sm)) {
        width: calc(100% - 50px);
    }
    @media (max-width: map-get($grid-breakpoints, md)) {
        width: calc(100% - 7rem);
    }
}
