@import '../../../../@theme/styles/styles.scss';

:host ::ng-deep nb-stepper .header {
    padding: 1rem 2.5rem;
    margin-bottom: 0 !important;
}

@include under-576px {
    :host ::ng-deep nb-card-body {
        padding: 0;
    }
}
