<div class="main-cont">
    <div class="col-12 row ps-3 mt-4 pe-4 mb-3">
        <div class="d-flex col flex-column">
            <h5 class="mb-2">
                {{ 'pricelists.new_pricelist.title' | translate }}
            </h5>
        </div>
        <div class="col flex-grow-0">
            <a
                nbButton
                size="small"
                uiSref="app.advantage.settings.pricelists"
                status="primary">
                {{ 'shared.buttons.back' | translate }}
            </a>
        </div>
    </div>

    <div class="col-md-12 ps-sm-3 pe-sm-5 mb-3">
        <nb-card>
            <nb-card-body *ngIf="formConfig.checkExpressionOn">
                <nb-stepper
                    #stepper
                    [linear]="linearMode"
                    [disableStepNavigation]="stepNavigationOption"
                    (stepChange)="handleStepChange($event)">
                    <nb-step
                        label="{{
                            'pricelists.new_pricelist.basic_details' | translate
                        }}">
                        <div class="col-12 row ps-3 pe-4">
                            <div>
                                <h6 class="mb-2 text-uppercase fs-6 fw-light">
                                    {{
                                        'pricelists.new_pricelist.title'
                                            | translate
                                    }}
                                </h6>
                                <p class="text-muted fs-8">
                                    {{
                                        'pricelists.new_pricelist.form.subtitle'
                                            | translate
                                    }}
                                </p>
                            </div>

                            <skika-form
                                btnContClass="modal-btn-cont"
                                [checkExpressionOn]="
                                    formConfig.checkExpressionOn
                                "
                                [disableSubmit]="loading"
                                [service]="true"
                                [submitted]="submitted"
                                [model]="pricelistDetails"
                                [cancelBtn]="true"
                                (cancelFxn)="goToProductsList()"
                                (submitModel)="submitPricelist($event)"
                                [resetModel]="true"
                                [btnText]="btnText | translate"
                                cancelText="{{
                                    'shared.buttons.cancel' | translate
                                }}"
                                store="{{ 'addSalesPricelistFieldsService' }}">
                            </skika-form>
                        </div>
                    </nb-step>
                    <nb-step
                        label="{{
                            'pricelists.new_pricelist.add_locations' | translate
                        }}">
                        <div>
                            <ngx-pricelist-location
                                [pricelistId]="pricelistID"
                                (locationsChanged)="onLocationsChanged()">
                            </ngx-pricelist-location>
                            <div class="d-flex justify-content-end pe-5 me-4">
                                <!-- Button with tooltip (disabled) -->
                                <button
                                    *ngIf="isNextDisabled"
                                    nbButton
                                    status="primary"
                                    class="mt-3"
                                    (click)="stepper.next()"
                                    [disabled]="true"
                                    [nbTooltip]="nextButtonTooltip"
                                    nbTooltipStatus="danger">
                                    {{ 'shared.buttons.next' | translate }}
                                </button>

                                <!-- Button without tooltip (enabled) -->
                                <button
                                    *ngIf="!isNextDisabled"
                                    nbButton
                                    status="primary"
                                    class="mt-3"
                                    (click)="stepper.next()"
                                    [disabled]="false">
                                    {{ 'shared.buttons.next' | translate }}
                                </button>
                            </div>
                        </div>
                    </nb-step>

                    <nb-step
                        label="{{
                            'pricelists.new_pricelist.pricelist_products'
                                | translate
                        }}">
                        <div>
                            <ngx-product-list></ngx-product-list>
                            <div class="d-flex justify-content-end pe-5 me-4">
                                <button
                                    nbButton
                                    status="primary"
                                    class="mt-3"
                                    (click)="goToProductsList()">
                                    Complete
                                </button>
                            </div>
                        </div>
                    </nb-step>
                </nb-stepper>
            </nb-card-body>
        </nb-card>
    </div>
</div>
