.link {
    text-decoration: underline;
    color: var(--bs-primary);
    font-weight: 700;
}
.label-danger {
    color: #da0a15;
}
::ng-deep nb-radio .text,
.infoText {
    font-weight: 500;
    color: #666666;
    @media only screen and (max-width: 760px) {
        font-size: 16px;
        line-height: 1.5rem;
    }
    @media (min-width: 760px) {
        font-size: 16px;
        line-height: 1.75rem;
    }
}
.row-padding {
    @media only screen and (max-width: 760px) {
        margin: 2rem 0;
    }
    @media (min-width: 760px) {
        margin: 4rem 0;
    }
}
.actionBtn {
    padding: 14px 25px !important;
    border-radius: 0.25rem;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.primaryColor {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
}

.primaryBgColor {
    background: var(--bs-primary) !important;
    color: #ffffff !important;
}

.secondaryColor {
    background: #fff !important;
}
.imgHeight {
    height: 214px;
    width: 210px;
}
.input-label {
    text-align: left;
    font-weight: 500;
    color: #666666;
    @media only screen and (max-width: 760px) {
        font-size: 13px;
        line-height: 1.5rem;
    }
    @media (min-width: 760px) {
        font-size: 14px;
        line-height: 1.75rem;
    }
}
.sub-title {
    font-family: var(--text-heading-3-font-family) !important;
    font-weight: 700 !important;
    @media only screen and (max-width: 760px) {
        font-size: 12px;
    }
    @media (min-width: 760px) {
        font-size: 16px;
    }
}
