.appointment-label {
    font-weight: 800;
    font-size: 0.9rem;
    width: 112px;
}

.appointment-value {
    font-weight: 550;
    font-size: 0.9rem;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-2 {
    padding-right: 2px;
}
