<div class="col-md-12 wrapper-padding">
    <ng-template #loader>
        <div class="row">
            <div
                class="col-sm-1 mt-3 mb-3 justify-content-center d-flex m-sm-3 m-0">
                <ngx-skeleton-loader
                    count="1"
                    [theme]="{ height: '97px', width: '97px' }"
                    appearance="circle"></ngx-skeleton-loader>
            </div>
            <div
                class="col-12 col-xs-12 col-sm-10 pt-3 pb-3 align-self-center text-center text-sm-start">
                <div class="patient-data-loader">
                    <ngx-skeleton-loader
                        count="3"
                        appearance="line"></ngx-skeleton-loader>
                </div>
            </div>
            <div
                class="col-12 pt-3 pb-3 align-self-center text-center text-sm-start">
                <div class="patient-data-loader">
                    <ngx-skeleton-loader
                        count="3"
                        appearance="line"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="patient && visit; else loader">
        <ngx-exam-record
            [templateSettings]="examTemplate"
            [hideStepperActions]="true"
            [patient]="patient"
            [visit]="visit">
        </ngx-exam-record>
    </div>
</div>
