.viewAllergy {
    margin-left: 7px;
}
.listAllergies {
    margin-top: -5px;
    max-height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.not-recorded {
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 5px;
}
