<div [nbSpinner]="loading" nbSpinnerStatus="info">
    <!-- sweetalert for confirming arrival -->
    <swal
        #confirmArrival
        title="Confirm Arrival?"
        text="Are you sure you want to confirm arrival?"
        [showCancelButton]="true"
        [confirmButtonText]="'Confirm'"
        [cancelButtonText]="'Cancel'"
        [cancelButtonColor]="'#edf1f7'"
        [confirmButtonColor]="'#603a8b'"
        [focusCancel]="true"
        (confirm)="confirmUpdate()">
    </swal>
    <!-- end of sweetalert for confirming arrival -->

    <!-- sweetalert for confirming booking -->
    <swal
        #confirmBooking
        icon="question"
        backdrop="true"
        title="Confirm Booking?"
        text="Are you sure you want to confirm the booking of this appointment?"
        [showCancelButton]="true"
        [confirmButtonText]="'Confirm'"
        [cancelButtonText]="'Cancel'"
        [cancelButtonColor]="'#edf1f7'"
        [confirmButtonColor]="'#603a8b'"
        [focusCancel]="true"
        (confirm)="transitionToBooked()">
    </swal>
    <!-- end of sweetalert for confirming booking -->

    <!-- sweetalert for confirmed booking -->
    <swal
        #confirmedBooking
        icon="success"
        backdrop="true"
        title="Booking Confirmed"
        text="The patient's booking has been confirmed"
        [confirmButtonText]="'Confirm'"
        [confirmButtonColor]="'#603a8b'">
    </swal>
    <!-- end of sweetalert for confirmed booking -->

    <!-- complete patient registration -->
    <skika-dialogue
        *ngIf="toggle['patientRegistration']"
        [small]="false"
        heading="Register Patient"
        (toggleModal)="toggleModal('patientRegistration')">
        <div class="col-md-12 pad-t-20 line">
            <div class="col-md-12 pad-b-10">
                <skika-form
                    [checkExpressionOn]="formConfig.checkExpressionOn"
                    [submitted]="submitted"
                    [cancelBtn]="true"
                    [modelData]="patient"
                    [disableSubmit]="loading"
                    (formOptions)="getFormOptions($event)"
                    (submitModel)="submitPatient($event)"
                    btnContClass="modal-btn-cont"
                    (cancelFxn)="toggleModal('patientRegistration')"
                    [resetModel]="true"
                    [service]="true"
                    btnText="{{ 'shared.buttons.save' | translate }}"
                    cancelText="{{ 'shared.buttons.cancel' | translate }}"
                    store="{{ 'patientRegisterService' }}">
                </skika-form>
            </div>
        </div>
    </skika-dialogue>
    <!-- end patient registration -->

    <!-- Patient banner -->
    <div class="col-md-12">
        <nb-card
            style="border-radius: 0"
            *ngIf="model && model['patient_details']"
            [nbSpinner]="loadingAppointmentDetails"
            nbSpinnerStatus="primary"
            nbSpinnerSize="giant">
            <nb-card-body class="col-12 row">
                <div
                    class="col-sm-1 mt-3 mb-3 justify-content-center d-flex m-sm-3 m-0">
                    <img
                        src="../../../../../assets/images/{{
                            model['patient_details'].person.gender === 'FEMALE'
                                ? 'bev'
                                : 'bowie'
                        }}.svg"
                        style="height: 97px"
                        alt="" />
                </div>
                <div
                    class="col-12 col-xs-12 col-sm-6 pt-3 pb-3 align-self-center text-center text-sm-start patient-data">
                    <!-- name -->
                    <div class="row pad-b-5 flex-row d-block" style="flex: 1">
                        <span
                            class="fw-semibold fs-12 pe-0 text-capitalize pe-2">
                            {{
                                model['patient_details'].person.person_display
                                    | uppercase
                            }}
                        </span>
                        <small
                            class="fs-13px text-capitalize text-muted ps-0 fw-bold">
                            {{
                                model['patient_details'].person.gender
                                    | titleCase
                            }}
                        </small>
                    </div>
                    <!-- age -->
                    <div class="pad-b-5">
                        <span class="fs-13px">
                            Age:
                            <span
                                class="fw-semibold me-4"
                                *ngIf="
                                    model['patient_details'].person.age !== null
                                ">
                                {{ model['patient_details'].person.age | age }}
                            </span>
                        </span>
                        <span class="fs-13px">
                            DoB:
                            <span class="fw-semibold">
                                {{
                                    model['patient_details'].person
                                        .date_of_birth | date : 'mediumDate'
                                }}
                            </span>
                        </span>
                        <span class="fs-13px ms-3">
                            Patient No:
                            <span class="fw-semibold me-4">
                                {{ model['patient_details'].patient_id }}
                            </span>
                        </span>
                    </div>
                    <div class="text-muted">
                        <!-- phone number -->
                        <span class="fs-13px me-4">
                            <i class="fa-solid fa-phone"></i>
                            <span>
                                {{
                                    model['patient_details'].person.phone_number
                                }}
                            </span>
                        </span>
                        <!-- email -->
                        <span
                            class="align-items-lg-center d-inline-center align-items-center">
                            <i class="fa-regular fa-envelope"></i>
                            <span class="fs-13px">
                                {{
                                    model['patient_details'].person?.email ||
                                        'No email added'
                                }}
                            </span>
                        </span>
                    </div>
                </div>
                <div
                    class="col pt-4 pe-sm-4 flex-row-reverse d-inline-flex align-items-start">
                    <a
                        nbButton
                        shape="rectangle"
                        size="small"
                        status="basic"
                        style="margin-left: 5px"
                        class="go_back"
                        uiSref="app.advantage.appointments">
                        {{ 'shared.buttons.back' | translate }}
                    </a>
                    <button
                        *ngIf="
                            model &&
                            !arrivedVisit &&
                            model['appointment_status'] &&
                            model['appointment_status'] === 'BOOKED' &&
                            patient?.isComplete &&
                            appointmentStartVisit
                        "
                        (click)="navigateToStartVisit()"
                        nbButton
                        size="small"
                        class="start_visit"
                        status="success">
                        {{ 'shared.buttons.start' | translate }}
                    </button>
                    <button
                        *ngIf="
                            model &&
                            !arrivedVisit &&
                            model['appointment_status'] &&
                            model['appointment_status'] === 'PENDING' &&
                            patient?.isComplete &&
                            appointmentStartVisit
                        "
                        (click)="updateConfirmBookedStatus()"
                        nbButton
                        size="small"
                        class="start_visit"
                        status="success">
                        {{ 'shared.buttons.confirm' | translate }}
                    </button>
                    <button
                        *ngIf="
                            model &&
                            !arrivedVisit &&
                            model['appointment_status'] &&
                            model['appointment_status'] !== 'CANCELLED' &&
                            model['appointment_status'] !== 'ARRIVED' &&
                            model['appointment_status'] !== 'IN_PROGRESS' &&
                            model['appointment_status'] !== 'FULFILLED' &&
                            model['appointment_status'] !== 'NO_SHOW' &&
                            patient?.isComplete &&
                            !appointmentStartVisit
                        "
                        nbButton
                        (click)="updateConfirmArrivalStatus()"
                        size="small"
                        status="success">
                        {{ 'shared.buttons.confirm_arrival' | translate }}
                    </button>
                    <button
                        *ngIf="patient && !patient?.isComplete"
                        nbButton
                        size="small"
                        silpermchecker="advantage.patient_edit"
                        (click)="toggleModal('patientRegistration')"
                        status="warning">
                        {{ 'shared.buttons.complete' | translate }}
                    </button>
                    <a
                        *ngIf="
                            model['appointment_status'] !== 'NO_SHOW' &&
                            model['appointment_status'] !== 'CANCELLED' &&
                            arrivedVisit &&
                            patient?.isComplete
                        "
                        uiSref="app.advantage.visits.detail"
                        [uiParams]="{ id: arrivedVisit.id }"
                        nbButton
                        size="small"
                        silpermchecker="advantage.visit_list"
                        class="continue_visit"
                        status="success">
                        {{ 'shared.buttons.continue' | translate }}
                    </a>
                </div>
            </nb-card-body>
            <nb-card-footer
                class="col-12 flex-row align-items-center row"
                *ngIf="model.appointment_status">
                <div
                    class="col-sm col-12 ps-sm-4 mb-2 mb-sm-0 d-inline-flex d-sm-block flex-row-reverse flex-sm-row-reverse flex-md-row">
                    <nb-tag-list>
                        <nb-tag
                            status="{{
                                model.appointment_status | statusColor
                            }}"
                            appearance="outline"
                            text="{{
                                model?.appointment_status
                                    | replaceWith : '_' : ' '
                                    | titleCase
                            }}"
                            class="appointment_status"
                            size="small">
                        </nb-tag>
                        <nb-tag
                            status="primary"
                            appearance="outline"
                            class="ms-2 appointment_speciality"
                            size="small"
                            style="
                                color: #556aa2;
                                background-color: #f2f8ff;
                                border: none;
                                padding: 0.1rem 1rem;
                                font-weight: 700;
                            "
                            text="{{ model?.sched_specialty | titleCase }}">
                            {{ model?.sched_specialty | titleCase }}
                        </nb-tag>
                    </nb-tag-list>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>

    <!-- Displayed when there is no appointment set -->
    <div class="main-cont">
        <div class="col-md-12">
            <div class="col-12 row ps-3 mt-4 pe-4 mb-4" *ngIf="!appointmentId">
                <div class="d-flex col flex-column">
                    <h5 class="mb-2">{{ headerText | translate }}</h5>
                    <p class="text-muted">
                        {{ 'appointments.no_appt.info' | translate }}
                    </p>
                </div>
                <div class="col flex-grow-0">
                    <button
                        nbButton
                        shape="rectangle"
                        size="small"
                        status="success"
                        style="margin-right: 5px"
                        uiSref="app.advantage.appointments">
                        {{ 'shared.buttons.back' | translate }}
                    </button>
                </div>
            </div>

            <div class="ps-sm-3 pe-sm-5">
                <nb-card class="col-md-12">
                    <nb-card-header
                        *ngIf="model && model['patient_details']"
                        [nbSpinner]="loadingAppointmentDetails"
                        nbSpinnerStatus="primary"
                        nbSpinnerSize="giant">
                        <div class="row">
                            <!-- left column -->
                            <div class="col">
                                <div
                                    class="pad-b-5 mb-3 text-black cancellation_reason"
                                    *ngIf="
                                        model['appointment_status'] ===
                                        'CANCELLED'
                                    ">
                                    {{
                                        'appointments.no_appt.cancellation_reason'
                                            | translate
                                    }}
                                    <span class="text-muted ms-2">{{
                                        model.cancellation_reason ||
                                            'No cancellation reason added'
                                    }}</span>
                                </div>

                                <div
                                    class="pad-b-5 text-black appointment_clinic">
                                    {{
                                        'appointments.no_appt.clinic'
                                            | translate
                                    }}
                                    <span class="text-muted ms-2">{{
                                        model.sched_description | titleCase
                                    }}</span>
                                </div>

                                <!-- reason -->
                                <div
                                    class="text-black pad-b-5 appointment_reason">
                                    {{
                                        'appointments.no_appt.reason'
                                            | translate
                                    }}
                                    <span class="text-muted">{{
                                        model.reason || 'No reason added'
                                    }}</span>
                                </div>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body *ngIf="isAfter || !appointmentId">
                        <!-- register patient -->
                        <div class="d-flex flex-row-reverse">
                            <button
                                class="mb-4 mb-sm-3"
                                *ngIf="!appointmentId"
                                silpermchecker="advantage.patient_create"
                                nbButton
                                size="small"
                                status="primary"
                                [uiParams]="{ state: 'appointments' }"
                                uiSref="app.advantage.patients.register">
                                {{ 'shared.buttons.register' | translate }}
                            </button>
                        </div>

                        <div>
                            <!-- patient -->
                            <div style="margin-bottom: 2rem">
                                <skika-form
                                    *ngIf="!appointmentId"
                                    [service]="true"
                                    [modelData]="model"
                                    btnContClass="modal-btn-cont"
                                    btnText="SUBMIT"
                                    store="{{ 'appointmentService' }}"
                                    btnStatus="success"
                                    [no-action]="true"
                                    [submitted]="false"
                                    (getModelData)="getModelData($event)"
                                    [disabledFields]="">
                                </skika-form>

                                <div
                                    *ngIf="displayScheduling || appointmentId"
                                    class="row margin-l-20 justify-content-center">
                                    <div
                                        class="ps-sm-3 pe-sm-5"
                                        style="width: auto"
                                        *ngIf="
                                            notLoading &&
                                            schedule &&
                                            schedule.availability &&
                                            unavailableDays &&
                                            timeSlots
                                        ">
                                        <!-- calendar label -->
                                        <p
                                            class="text-center"
                                            style="
                                                font-size: 0.8rem;
                                                width: 331px;
                                            ">
                                            {{
                                                'appointments.no_appt.datepicker'
                                                    | translate
                                            }}
                                        </p>

                                        <!-- calendar -->
                                        <nb-calendar
                                            [filter]="filterDay"
                                            [(date)]="date"
                                            size="large"
                                            (dateChange)="
                                                handleDateChange($event)
                                            "
                                            [min]="min">
                                        </nb-calendar>

                                        <!-- booked slot -->
                                        <button
                                            *ngIf="appointmentId"
                                            nbButton
                                            status="success"
                                            style="
                                                width: 300px;
                                                font-weight: 400;
                                                margin: 10px;
                                            ">
                                            {{
                                                model?.start
                                                    | date : 'shortTime'
                                            }}
                                            -
                                            {{
                                                model?.end | date : 'shortTime'
                                            }}
                                        </button>
                                    </div>

                                    <!-- slots -->
                                    <div class="col">
                                        <p
                                            class="text-center"
                                            style="font-size: 0.8rem">
                                            {{
                                                'appointments.no_appt.available_slots'
                                                    | translate
                                            }}
                                            {{
                                                selectedDate
                                                    | date : 'd MMM, yyyy'
                                            }}
                                        </p>

                                        <nb-list
                                            nbInfiniteList
                                            listenWindowScroll
                                            class="scrollable-list-item"
                                            [nbSpinner]="loadingSlots"
                                            nbSpinnerSize="giant"
                                            nbSpinnerStatus="primary"
                                            [threshold]="500">
                                            <nb-list-item
                                                class="flex-column"
                                                *ngIf="
                                                    timeSlots &&
                                                    timeSlots.length > 0
                                                ">
                                                <button
                                                    *ngFor="
                                                        let slot of timeSlots;
                                                        index as i
                                                    "
                                                    nbButton
                                                    [status]="
                                                        selectedSlot?.id ===
                                                        slot.id
                                                            ? 'primary'
                                                            : 'basic'
                                                    "
                                                    style="
                                                        width: 300px;
                                                        font-weight: 400;
                                                        margin: 4px;
                                                    "
                                                    (click)="selectSlot(slot)">
                                                    {{
                                                        slot.start
                                                            | date : 'shortTime'
                                                    }}
                                                    -
                                                    {{
                                                        slot.end
                                                            | date : 'shortTime'
                                                    }}
                                                </button>
                                            </nb-list-item>
                                        </nb-list>

                                        <div class="text-center">
                                            <!-- create appointment -->
                                            <button
                                                *ngIf="timeSlots?.length"
                                                nbButton
                                                status="success"
                                                class="float-center col-5 col-md-5"
                                                [disabled]="!slotSelected"
                                                (click)="
                                                    appointmentId
                                                        ? openDialog(dialog)
                                                        : addAppointment()
                                                "
                                                [nbSpinner]="loading"
                                                nbSpinnerStatus="success"
                                                style="
                                                    margin-top: 8px;
                                                    margin-bottom: 8px;
                                                ">
                                                {{ buttonText | translate }}
                                            </button>
                                        </div>

                                        <!-- no timeSlots -->
                                        <div *ngIf="!timeSlots?.length">
                                            <div class="col-md-12 pad-30">
                                                <nb-alert
                                                    outline="warning"
                                                    class="margin-b-0"
                                                    style="
                                                        border: 0.095rem solid
                                                            #e0e0e0;
                                                    ">
                                                    <div class="row">
                                                        <span
                                                            class="fa-stack fa-lg fs-8">
                                                            <i
                                                                class="far fa-circle fa-stack-2x text-prim"></i>
                                                            <i
                                                                class="fas fa-info fa-stack-1x text-prim"></i>
                                                        </span>
                                                        <span
                                                            class="text-center mt-3">
                                                            {{
                                                                'appointments.no_slots_for_appointment'
                                                                    | translate
                                                            }}
                                                        </span>
                                                    </div>
                                                </nb-alert>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>

    <!-- loader -->
    <div class="row main-cont" *ngIf="loadingAppointmentDetails">
        <div class="col-md-12" style="padding: 2rem 3rem 0rem">
            <nb-card
                [nbSpinner]="loadingAppointmentDetails"
                nbSpinnerStatus="primary"
                nbSpinnerSize="giant"
                nbSpinnerMessage="Loading appointment details">
                <nb-card-header class="text-center text-light">
                </nb-card-header>
            </nb-card>
        </div>
    </div>
    <!-- end of loader -->

    <ng-template #dialog let-data let-ref="dialogRef">
        <nb-card>
            <nb-card-header>{{ buttonText }}</nb-card-header>
            <nb-card-body>
                <p>
                    Please note that this will send an SMS to the patient to
                    notify them of the slot change.
                </p>
            </nb-card-body>
            <nb-card-footer>
                <button
                    nbButton
                    status="primary"
                    (click)="rescheduleAppointment(); ref.close()"
                    [nbSpinner]="loadingReschedule"
                    class="me-2">
                    {{ 'shared.buttons.reschedule' | translate }}
                </button>

                <button nbButton (click)="ref.close()">Cancel</button>
            </nb-card-footer>
        </nb-card>
    </ng-template>
</div>
<div
    class="float"
    role="button"
    nbTooltip="Walkthrough"
    nbTooltipPlacement="top"
    (click)="startWalkthrough()">
    <i class="fa fa-info my-float"></i>
</div>
