.card-header {
    display: flex;
    justify-content: space-between;
}
.header-title {
    margin: 1rem 2rem 1.5rem;
}
.number-container {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--text-primary-color);
    color: #fdfdfd;
    align-items: center;
    justify-self: center;
    margin-right: 5px;
}
.card-content {
    margin-right: 1rem;
    margin-left: 1rem;
}
.collapse-btn {
    color: var(--text-primary-color);
}

.grow-wrap {
    display: grid;
}
.grow-wrap::after {
    content: attr(data-replicated-value) ' ';
    white-space: pre-wrap;
    visibility: hidden;
}
.grow-wrap > textarea {
    resize: none;
    overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
    /* Identical styling required!! */
    padding: 0.5rem;
    font: inherit;

    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}
.collapse-btn {
    cursor: pointer;
}

:host ::ng-deep .ck-editor__editable {
    min-height: 80px !important;
}

.primaryBgColor {
    border-color: var(--bs-primary) !important;
    background: var(--bs-primary) !important;
    color: #ffffff !important;
}

.secondaryColor {
    color: var(--bs-primary) !important;
    background: #fff !important;
    border-color: var(--bs-primary) !important;
}
.actionBtn {
    padding: 1rem 1.5rem !important;
    height: 44px !important;
    border-radius: 24px;
    width: 8rem;
}

.exam-section {
    width: calc(100% + 55px);
    position: relative;
    right: 25px;
    margin-top: -36px;
}

.number-container {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--text-primary-color);
    color: var(--text-primary-color);
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.active-icon {
    background-color: var(--text-primary-color);
    color: white;
    cursor: default;
}
