@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.side-nav {
    border: 0.8px solid #e0e0e0;
    position: fixed;
    width: 20%;
    // @extend .side-menu;
    padding-right: 0;
    padding-left: 0 !important;
    .nav-item {
        padding: 0;
        border-bottom: 0.1rem solid #e0e0e0;
        .nav-link {
            padding: 15px 18px;
            &:hover {
                cursor: pointer;
            }
            &.active {
                border-top: 0.05rem solid #e0e0e0;
                border-right: 0.05rem solid #e0e0e0;
                border-left: 3px solid #2196f3;
                background-color: #ffffff;
                color: #2196f3;
                font-weight: 600;
                border-radius: 1px;
            }
        }
        a > .active {
            border-left: 3px solid #2196f3;
            background-color: #ffffff;
            color: #2196f3;
        }
    }
}
