.actionBtn {
    padding: 1rem 2rem !important;
    border-radius: 0.25rem !important;
}
.primaryBgColor {
    background: var(--bs-primary) !important;
    color: #ffffff !important;
}
.item-title {
    font-family: var(--text-heading-3-font-family) !important;
    font-weight: 700 !important;
    color: #666666;
    @media only screen and (max-width: 760px) {
        font-size: 15px;
        line-height: 1.5rem;
    }
    @media (min-width: 760px) {
        font-size: 14px;
        line-height: 32px;
    }
}
.title {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}
