<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>
    <nb-layout-column
        ><div class="skeleton h-100">
            <div class="container container-padding">
                <nb-card class="text-center px-lg-5 px-2 page-card">
                    <nb-card-body class="card-body text-center">
                        <img
                            class="card-img-top"
                            src="../../../../../assets/images/onboarding-success.svg"
                            alt="Advantage On Boarding Success"
                            style="height: 23rem" />
                        <h5 class="card-title mt-4">Awesome work!</h5>
                        <p class="card-text text-center my-4">
                            You have completed the onboarding process, just like
                            a champ! Your details have been submitted
                            successfully, and in a few days we will reach out to
                            you with the results from the verification process.
                        </p>
                        <p class="card-text text-center mt-3">
                            We will notify you when your approval is successful.
                        </p>
                        <a
                            nbButton
                            shape="rectangle"
                            class="actionBtn mt-4"
                            size="large"
                            uiSref="#"
                            status="primary">
                            Ok, Thanks
                        </a>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
