@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

$brand-primary: var(--color-primary-900);

:host {
    display: block;
}

.icon-sp {
    margin-top: -8px !important;
}

.reset-slogan {
    font-weight: 500;
    font-size: 14px;
}

.text-basic {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-primary-900) !important;
}
