label {
    text-transform: capitalize;
    font-weight: 700;
    color: var(--text-basic-color);
    font-size: 0.7rem;
    margin-bottom: 5px;
}
input {
    border-radius: 4px !important;
    border-width: 1px !important;
    background-color: var(--background-basic-color-1);
    color: var(--text-basic-color);
}
input[type='text']:disabled {
    background: var(--background-basic-color-1);
}
input:disabled {
    background-color: #e7e7e7 !important;
}
.form-control-group {
    margin-bottom: 1.375rem;
}
