<div class="d-flex flex-wrap justify-content-between mx-4-8 align-self-center">
    <div>
        <div class="fs-6 fw-semibold my-1">Tests</div>
        <div class="fw-light my-1 text-muted">
            Easily manage and track your tests here
        </div>
    </div>
</div>

<div>
    <div class="col-12 mt-4 px-4-8">
        <sil-table
            [headers]="tableHeader"
            [rest-fxn]="'list'"
            [rest-api]="'exam-lab-orders'"
            [dynamic]="true"
            [has-action]="true"
            [statusFilters]="statusFilters"
            [search]="true"
            namespace="lab_order_"
            [actions]="actions"
            [activeStateParams]="['id']"
            (filtersArg)="setFilter($event)"
            [emptyStateTitle]="'No tests yet'"
            [emptyStateMessage]="
                'You currently have no tests. Once you receive them, they will appear here.'
            "
            [emptyStateImage]="
                '../../../../assets/images/empty-medications.svg'
            "
            [emptyStateImageStyles]="'height: 8.75rem; width: 8.75rem'"
            [rows]="rows"
            [ignoreStateParams]="['id']"
            [defaultQueryArg]="filterParams"
            [ignoreDisplayFilters]="['id', 'page', 'page_size']">
        </sil-table>
    </div>
</div>
