.cmp-cont {
    padding-top: 3.5rem;
    background-color: #f9f9f9;
    .no-border {
        border: none !important;
    }
    .main-cont {
        padding-top: 4rem;
    }
    .page-cont {
        padding: 3.7rem 0;
    }
}
