<div class="skeleton h-100">
    <div class="container container-padding">
        <nb-card class="border-0 h-100 text-center px-lg-5 px-2 page-card">
            <nb-card-body class="card-body text-center overflow-hidden">
                <h3 class="card-title">Next Steps</h3>

                <div class="row mt-sm-4 pt-2">
                    <div class="col-sm">
                        <img
                            class="card-img-top imgHeight"
                            src="../../../../../assets/images/onboarding-welcome.svg"
                            alt="Advantage On Boarding Next Steps" />
                    </div>
                    <div class="col-sm pt-sm-5 pt-2">
                        <ul class="list-unstyled card-text text-start">
                            <li>
                                <h5 class="fw-bold list-title">
                                    1. Your Interests
                                </h5>
                                <span
                                    >We will collect your interests which will
                                    curate the platform better for you
                                </span>
                            </li>
                            <li class="py-sm-4 py-2">
                                <h5 class="fw-bold list-title">
                                    2. Account Setup
                                </h5>
                                <span
                                    >In this stage, you will setup an account
                                    for your facility by entering details that
                                    will be used to verify you</span
                                >
                            </li>
                            <li>
                                <h5 class="fw-bold list-title">
                                    3. Verification + Approval
                                </h5>
                                <span
                                    >In this stage, we will analyze the details
                                    you submitted to ensure you are who you say
                                    you are</span
                                >
                            </li>
                            <li class="pt-sm-4 py-2">
                                <h5 class="fw-bold list-title">4. Listing!</h5>
                                <span
                                    >Once verified, we will list you as a
                                    provider and you will start receiving
                                    bookings!
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <a
                    nbButton
                    class="actionBtn"
                    shape="rectangle"
                    size="large"
                    uiSref="app.onboarding.kyc"
                    status="primary">
                    Let&apos;s go
                </a>
            </nb-card-body>
        </nb-card>
    </div>
</div>
