<div class="mt-4">
    <div style="display: flex; justify-content: flex-end">
        <button
            nbButton
            size="small"
            type="submit"
            status="success"
            *ngIf="showNextSpButton"
            nbTooltipStatus="primary"
            class="add-condition me-2"
            (click)="emitToggleServicePointModal()"
            [hidden]="visitStatus.includes(patientVisitStatus)">
            {{ 'shared.buttons.next_sp' | translate }}
        </button>

        <button
            nbButton
            size="medium"
            type="submit"
            status="{{ diagnosisFormIsHidden ? 'primary' : 'basic' }}"
            nbTooltipStatus="primary"
            class="add-condition"
            [hidden]="
                patientVisitStatus === 'CANCELLED' ||
                patientVisitStatus === 'ENTERED_IN_ERROR' ||
                !diagnosisFormIsHidden
            "
            (click)="toggleIsHidden('diagnosisForm')">
            {{
                diagnosisFormIsHidden
                    ? ('shared.buttons.add_diagnosis' | translate)
                    : ('shared.buttons.close_form' | translate)
            }}
        </button>
    </div>

    <form
        class="card diagnosis-form mt-2 p-4"
        *ngIf="
            !visitStatus.includes(patientVisitStatus) && !diagnosisFormIsHidden;
            else not_recorded
        ">
        <skika-form
            @fadeAnimation
            [cancelBtn]="false"
            [disableSubmit]="loadingResult"
            (submitModel)="addPatientDiagnosisItem($event)"
            [resetModel]="true"
            [fullWidth]="true"
            [modelData]="model"
            (cancelFxn)="cancelAddDiagnosis()"
            [service]="true"
            btnText="{{ 'shared.buttons.add_diagnosis' | translate }}"
            store="{{ 'addPatientDiagnosisItemService' }}">
        </skika-form>
    </form>
    <ng-template #not_recorded>
        <div
            *ngIf="
                patientDiagnosis.length === 0 &&
                patientVisitStatus === 'CANCELLED'
            ">
            Diagnosis not recorded
        </div>
    </ng-template>
    <!-- sil datatable -->
    <div class="mt-3" *ngIf="patientDiagnosis.length > 0">
        <sil-table
            [headerActions]="gridActions"
            [headers]="tableHeader"
            [dynamic]="true"
            [has-action]="true"
            [apilist]="patientDiagnosis"
            [ignoreDisplayFilters]="'id'"
            [actions]="actions"
            [rows]="rows"
            (customFxn)="togglePreviewDiagnosisModal($event)">
        </sil-table>
    </div>
</div>

<skika-dialogue
    *ngIf="showPreviewDiagnosisModal"
    (toggleModal)="togglePreviewDiagnosisModal()"
    [small]="false"
    heading="Preview Diagnosis">
    <div
        class="col-md-12 pad-t-20 line"
        *ngIf="patientDiagnosis.length > 0 && selectedDiagnosis">
        <div class="col-md-12 pad-b-3">
            <nb-card class="border-0">
                <div>
                    <div class="my-1 row flex-column flex-sm-row">
                        <span class="col-12 col-sm-2 fw-bold">{{
                            'clinical.problems.name' | translate
                        }}</span>
                        <span class="col-12 col-sm">{{
                            selectedDiagnosis.name ?? '-'
                        }}</span>
                    </div>
                    <div class="my-3 row flex-column flex-sm-row">
                        <span class="col-12 col-sm-2 fw-bold">{{
                            'clinical.problems.status' | translate
                        }}</span>
                        <span class="col-12 col-sm">{{
                            selectedDiagnosis.status === 'RECURRENCE'
                                ? ('clinical.chronic' | translate)
                                : selectedDiagnosis.status === 'ACTIVE'
                                ? ('clinical.confirmed' | translate)
                                : ('clinical.provisional' | translate)
                        }}</span>
                    </div>
                    <div
                        class="my-3 row flex-column flex-sm-row"
                        *ngIf="selectedDiagnosis.note">
                        <span class="col-2 fw-bold">{{
                            'clinical.problems.note' | translate
                        }}</span>
                        <span class="col">{{ selectedDiagnosis.note }}</span>
                    </div>
                    <div class="my-3 row flex-column flex-sm-row">
                        <span class="col-12 col-sm-2 fw-bold">{{
                            'clinical.problems.date' | translate
                        }}</span>
                        <span class="col-12 col-sm">{{
                            selectedDiagnosis.onsetDate | date : 'd MMM, yyyy'
                        }}</span>
                    </div>
                    <div class="my-3 row flex-column flex-sm-row">
                        <span class="col-2 fw-bold">{{
                            'clinical.problems.recorded' | translate
                        }}</span>
                        <span class="col">{{
                            selectedDiagnosis.recordedDate
                                | date : 'd MMM, yyyy'
                        }}</span>
                    </div>
                </div>
            </nb-card>
        </div>
    </div>
</skika-dialogue>
