.actionBtn {
    padding: 14px 25px !important;
    border-radius: 0.25rem;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.primaryColor {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
}
.secondaryColor {
    background: #fff !important;
}
