<skika-dialogue
    *ngIf="toggle['addPhoto']"
    [small]="false"
    heading="Add Facility Photo"
    (toggleModal)="toggleModal('addPhoto')">
    <div class="col-md-12 pad-t-20">
        <div class="col-md-12 pad-b-10">
            <div>
                <div class="d-flex col flex-column">
                    <p class="text-muted mb-2">Add photos of the facility</p>
                </div>
                <div class="col-12 row mt-4 mb-3 div-sub">
                    <skika-form
                        [submitted]="submitted"
                        btnContClass="modal-btn-cont"
                        (cancelFxn)="toggleModal('addPhoto')"
                        [resetModel]="true"
                        [service]="false"
                        btnText="add"
                        store="{{ 'add-facility-photo-form' }}"
                        [cancelBtn]="true">
                    </skika-form>
                </div>
            </div>
        </div>
    </div>
</skika-dialogue>

<skika-dialogue
    *ngIf="toggle['addPaymentOption']"
    [small]="false"
    heading="Add payment option"
    (toggleModal)="toggleModal('addPaymentOption')">
    <div class="col-md-12 pad-t-20">
        <div class="col-md-12 pad-b-10">
            <div>
                <div class="d-flex col flex-column">
                    <p class="text-muted mb-2">Add Payment option</p>
                </div>
                <div class="col-12 row mt-4 mb-3 div-sub">
                    <div class="col-12 mb-4">
                        <label class="label col-12">{{
                            'select payment method'
                        }}</label>
                        <nb-select
                            class="col-12 full-width"
                            placeholder="Select billing method"
                            [selected]="'CASH'"
                            [(ngModel)]="selectedBillingClass">
                            <nb-option [value]="'CASH'"> cash </nb-option>
                            <nb-option [value]="'CREDIT'"> credit </nb-option>
                        </nb-select>
                    </div>
                    <div
                        class="mt-2 mb-4"
                        *ngIf="selectedBillingClass === 'CREDIT'">
                        <p class="fw-bold list-title text-start">
                            Please select an insurance that you accept
                        </p>
                        <div class="row row-cols-md-3">
                            <nb-checkbox
                                [checked]="false"
                                class="text-start mt-4"
                                status="primary">
                                Jubilee
                            </nb-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</skika-dialogue>

<div>
    <nb-card nbSpinnerSize="giant" nbSpinnerStatus="info">
        <nb-card-header
            style="padding-left: 20px; padding-top: 10px; border: none">
            <div class="mb-2 px-3">
                <h1 class="fs-4">Facility Details</h1>
                <p>
                    This section collects information on the business and its
                    owners.
                </p>
            </div>
        </nb-card-header>
        <nb-card-body class="px-5">
            <div class="col-md-12 mb-5">
                <div class="d-flex">
                    <div class="d-flex col flex-column">
                        <p class="fs-5 fw-semibold mb-2">
                            Facility Information
                        </p>
                        <p class="text-muted mb-2">
                            Here we will collect information about the facility.
                        </p>
                    </div>
                </div>
                <sil-table
                    [headerActions]="facilityQuestionnaireTableActions"
                    [headers]="facilityQuestionnaireTableHeader"
                    [dynamic]="true"
                    [actionIsNotButton]="true"
                    [has-action]="true"
                    [search]="false"
                    [apilist]="facilityQuestionnaireData"
                    [secondaryData]="secondaryData"
                    [actions]="facilityQuestionnaireTableActions"
                    [defaultQueryArg]="filterParams"
                    [rows]="facilityQuestionnaireTableRows">
                </sil-table>
            </div>
            <div class="col-md-12 margin-t-20">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <p class="fs-5 fw-semibold mb-2">Facility photos</p>
                        <p class="text-muted mb-2">
                            Here we will collect facility photos
                        </p>
                    </div>
                    <div class="d-flex py-3">
                        <button
                            class="ms-3 px-3 py-2"
                            nbButton
                            shape="rectangle"
                            size="medium"
                            status="success"
                            (click)="toggleModal('addPhoto')"
                            outline>
                            Add New Photo
                        </button>
                    </div>
                </div>
                <sil-table
                    [headers]="facilityPhotoHeaders"
                    [dynamic]="true"
                    [has-action]="true"
                    [apilist]="facilityPhotoData"
                    [actions]="facilityPhotoTableActions"
                    [defaultQueryArg]="filterParams"
                    [rows]="facilityPhotoRows">
                </sil-table>
            </div>

            <div
                class="d-flex justify-content-center mt-5"
                *ngIf="showActionButton">
                <a
                    nbButton
                    status="primary"
                    size="medium"
                    uiSref="app.onboarding.kyc"
                    [uiParams]="{ step: 4 }">
                    Next to Terms and Conditions
                </a>
            </div>
        </nb-card-body>
    </nb-card>
</div>
