.actionBtn {
    padding: 14px 25px !important;
    border-radius: 0.25rem;
    font-weight: 600 !important;
    @media only screen and (max-width: 760px) {
        font-size: 14px !important;
    }
    font-size: 16px !important;
}

.primaryColor {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
}
.secondaryColor {
    background: #fff !important;
}
