.wrapper-padding {
    @media (min-width: 1080px) {
        padding: 0 1rem;
    }
    @media only screen and (max-width: 1080px) {
        padding: 1rem;
    }
}
:host {
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
}
.header-title {
    margin: 1rem 2rem 1.5rem;
}
.overflow-y-none {
    overflow-y: hidden;
}
.exam-section {
    width: calc(100% + 55px);
    position: relative;
    right: 25px;
    margin-top: -36px;
}

.number-container {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--text-primary-color);
    color: var(--text-primary-color);
    align-items: center;
    justify-self: center;
    cursor: pointer;
}

.active-icon {
    background-color: var(--text-primary-color);
    color: white;
    cursor: default;
}
